body {
    background: #0b0b0b;
    color: white;
    font-family: Arial;
}

nav {
    padding: 10px;
    background: #111;
    display: flex;
    gap: 10px;
}

button {
    background: #1d7cff;
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.app-card {
    border: 1px solid white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.app-card img {
    width: 100%;
    border-radius: 10px;
}
